<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/student">Back To Student</a>
    <thead>
      <th>First-name</th>
      <th>Last-name</th>
      <th>Email</th>
    </thead>
    <tbody>
      <tr>
        <td>
            <form action="/student/addsubject/<%=data.id%>" method="post">
              <input type="text" name="first_Name" disabled value="<%=data.first_Name%>" placeholder="First Name">
              <input type="text" name="last_Name" disabled value="<%=data.last_Name%>" placeholder="Last Name">
              <input type="text" name="email" disabled value="<%=data.email%>" placeholder="Email">
              <select name="SubjectId">
                <%datasub.forEach(datasubject=>{%>
                  <option  value="<%=datasubject.id%>"><%=datasubject.subject_name%></option>
                <%})%>
              </select>
                <input type="submit" value="submit">
          </form>
          </td>
      </tr>
    </tbody>
  </body>
