<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/student">Back To Student</a>
    <thead>
      <th>First-name</th>
      <th>Last-name</th>
      <th>Email</th>
    </thead>
    <tbody>
      <tr>
        <td>
            <form action="/student/addsubject/<%=data.id%>" method="post">
              <input type="text" name="first_Name" value="<%=data.first_Name%>" placeholder="First Name">
              <input type="text" name="last_Name" value="<%=data.last_Name%>" placeholder="Last Name">
              <input type="text" name="email" value="<%=data.email%>" placeholder="Email">
              <select name="subject_name">
                <%datasub.forEach(datasub=>{%>
                  <option value="<%=data.id%>"><%=datasub.subject_name%></option>
                <%})%>
              </select>
                <input type="submit" value="submit">
          </form>
          </td>
      </tr>
    </tbody>
  </body>
</html>
