<%- include ./partial/header %>

<h1>Student</h1>
<a href="/">back</a>
<a href="/student/add">add studen</a>
<table>
  <td>No</td>
  <td>id</td>
  <td>last name</td>
  <td>firs name</td>
  <td>email</td>
  <td>Subject</td>
  <td>option</td>
  <% var id = 1
      data.forEach(res => {%>
    <tbody>
      <td>
        <%= id%>
      </td>
      <td>
        <%= res.id%>
      </td>
      <td>
        <%= res.first_Name  %>
      </td>
      <td>
        <%= res.last_Name  %>
      </td>
      <td>
        <%= res.email  %>
      </td>
      <td><a href="/student/addsubject/<%=res.id%>">add Subject</a></td>
      <td>
        <a href="/student/delete/<%= res.id %>">delete</a>
        <a href="/studen/edit/ <%= res.id%>">edit</a>
      </td>
    </tbody>
    <% id++ })%>
  </table>
  </div>
  </body>

</html>
