<h1>subject</h1>

<%- include ./partial/header %>
  <a href="/"> back to home </a>
  <table>
    <thead>
      <th>no</th>
      <th>id</th>
      <th>Subject Name</th>
      <th>Teacher</th>
      <th>Studen</th>
      <th>action</th>
    </thead>
    <% var id = 1
        data.forEach(res => { %>
      <tbody>
        <td>
          <%= id %>
        </td>
        <td>
          <%= res.id %>
        </td>
        <td>
          <%= res.subject_name %>
        </td>
        <td>
          <% if(res.Teachers){ %>
            <% for(var i =0; i< res.Teachers.length;i++){ %>
              <%= res.Teachers[i].first_Name  %> |
                <%} %>
                  <% } else{%>
                    <td> </td>
                    <% }%>
        </td>
        <td> <a href="/subject/enrolled/<%=res.id%>">Enrolled Students</a></td>
        <td>
          <a href="/subject/delete/<%= res.id%>">delete</a>
          <a href="#">edit </a>
        </td>
      </tbody>
      <% id++ }) %>
  </table>
  <a href="/subject/add">Add Subject </a>
  </body>

  </html>
