<h2>Teacher</h2>
  <a href="/"> back to home </a>
  <%- include ./partial/header %>

  <div class="addteacher">
  <button type="button" class="btn btn-default btn-lg"><a href="/teacher/add">add teacher</a></button>
  </div>

    <table>
      <th>no</th>
      <th>firs name</th>
      <th>last name</th>
      <th>fullname</th>
      <th>Email</th>
      <th>subject</th>
      <th>option</th>
      <%var no = 1;
            data.forEach(res=> { %>
        <tbody>
          <td>
            <%= no %>
          </td>
          <td>
            <%= res.first_Name %>
          </td>
          <td>
            <%= res.last_Name %>
          </td>
          <td>
            <%= res.fullname %>
          </td>
          <td>
            <%= res.email %>
          </td>
          <td>
            <%= res.Subject ? res.Subject.subject_name : 'Unassigned' %>
          </td>

          <td>
            <a href="/teacher/delete/<%= res.id%>">delete</a>
            <a href="/teacher/edit/ <%= res.id%>">edit</a>
          </td> <br>
          <% no++ }) %>

        </tbody>
    </table>
  

</body>

</html>
